* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Roboto, Arial, sans-serif;
}

/*===COMMON===*/

:root {
    --primary-color: #fff;
}

/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.fa__bars {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa__bars:hover {
    background-color: #dcd5d5;
    border-radius: 50%;
    cursor: pointer;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 30px;
}

.header-left img {
    width: 100px;
    margin-left: 15px;
}

.header i {
    padding: 0px 7px;
    cursor: pointer;
    font-size: 20px;
}

.header-search {
    position: relative;
}

.header-search input {
    width: 600px;
    height: 39px;
    padding-left: 50px;
    margin: 0;
    border-radius: 40px;
    border: 0.5px solid #c4c4c5;
}

.appear {
    display: none;
    position: absolute;
    left: -10px;
    height: 39px;
    width: 60px;
    border-radius: 40px 0 0 40px;
    border: 1px solid #c4c4c5;
}

.appear i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:focus {
    border: 1px solid #9999ed; /* Đổi màu viền sang xanh dương */
    outline: none;
}

input:focus + .appear {
    display: block;
    border: 1px solid #9999ed;
    border-width: 1px 0 1px 1px;
    background-color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-search button {
    padding: 0;
    margin-top: 2px;
    position: absolute;
    height: 39px;
    width: 70px;
    font-size: 20px;
    right: 20px;
    top: -2px;
    border-radius: 0 40px 40px 0;
    border: 0.5px solid #c4c4c5;
    background-color: #f5f2f2;
    transition: 0.3s ease;
}

.header-search button:hover {
    background-color: #dcd5d5;
}

.header-search .fa-keyboard {
    position: absolute;
    left: 430px;
    top: 12px;
    font-size: 18px;
}

.header-search button {

}

.header-search .micro {
    position: relative;
    right: -40px;
    font-size: 20px;
    background-color: #f0f0f1;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.header-search .micro:hover {
    background-color: #dcd5d5;
}

.header-search .fa-microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.header-icon .create-button {
    font-family: Roboto, Arial, sans-serif;;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 36px;
    background-color: #f0f0f1;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s ease;
}

.header-icon .create-button:hover {
    background-color: #dcd5d5;
}

.header-icon .noti {
    position: relative;
}

.header-icon .noti .fa-bell {
    position: relative;
    font-size: 20px;
}

.header-icon .noti .noti-bag {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: red;
}

.header-icon .noti span {
    position: absolute;
    z-index: 100;
    padding: 4px 2px 2px 2px;
    color: var(--primary-color);
    font-size: 10px;
    text-align: center;
    top: -4px;
    right: -1px;
    background-color: red;
    border-radius: 40%;
}

.header-icon .fa-user-secret {
    font-size: 20px;
    background-color: #5b6abf;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

/*=======MAIN BODY========*/
.mainBody {
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
    line-height: 1;
}

/*=======SIDE BAR=======*/

/*======SIDE BAR MAINE============*/
.sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: white;
    overflow-y: scroll;
    scrollbar-width: none;
}

.mini-sidebar {
    position: absolute;
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 180px;
    justify-items: center;
    line-height: 2.2;
}

.mini-sidebar-icon {
    margin-top: 20px;
}

.mini-sidebar span {
    width: 90px;
    text-align: center;
}

.sidebar__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar__category {
    display: flex;
    align-content: flex-start;
    padding: 12px 25px;
}

.sidebar__categories .homepage {
    background-color: #e5e5e5;
    border-radius: 10px;
}

.sidebar__category span {
    white-space: nowrap;
    margin-left: 15px;
    margin-right: 15px;
}

.sidebar__category i {
    margin-right: 15px;
    margin-left: 15px;
    width: 10px;

}

.sidebar:hover {
    scrollbar-width: thin;
}

.sidebar__category:hover {
    background-color: #e5e5e5;
    cursor: pointer;
    border-radius: 10px;
    scrollbar-width: thin;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;

}

hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

/*==========SIDE BAR FOOTER===========*/

.sidebar__footer {
    width: 100%;
    margin-left: 15px;
}

.sidebar__footer .sidebar__footer--first, .sidebar__footer .sidebar__footer--second, .sidebar__footer .copyright {
    margin-top: 15px;
}

.sidebar__footer a {
    text-decoration: none;
    color: gray;
    font-size: 12px;
    font-weight: bolder;
    line-height: 1.6;
    margin-left: 15px;
}

.sidebar__footer .copyright {
    color: #bfb9b9;
    font-size: 10px;
    margin-left: 15px;
}

}

/*=========RECOMMENDED============*/
.main {
    width: 100%;
    display: flex;
}

.recommended {
    margin-left: 260px;
    padding-bottom: 10px;
    display: flex;
    width: 100%;
    color: #3ed50d;
    justify-content: center;
    gap: 10px;
}

.recommended a {
    white-space: nowrap;
    display: block;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    background-color: #f0f0f1;
    color: #0f0f11;
    border-radius: 10px;
    text-align: center;
    padding: 6px;
    transition: 0.5s ease;
}

.recommended a:hover {
    background-color: #dcd5d5;
}

/*==========VIDEO=========*/
.videos {
    display: flex;
    background-color: #fdfdfe;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    overflow-y: scroll;
}

.videos__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 250px;
}

.video {
    margin-top: 10px;
    flex-grow: 1;
    width: calc((100% - 250px) / 3);
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.video__thumbnail {
    width: 100%;
    height: 200px;
}

.video__thumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 2%;

}

.author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.video__details {
    display: flex;
    margin-top: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

.title h3 {
    color: rgb(3 3 3);
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 1.4;
}

.title a, span {
    text-decoration: none;
    color: rgb(96 96 96);
    font-size: 14px;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(3 3 3);
}

#toggle-sidebar:checked ~ .mini-sidebar {
    opacity: 1;
}

#toggle-sidebar:checked ~ .mainBody .videos .videos__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 80px;
}

/*#toggle-sidebar:checked ~ .mainBody .videos .videos__container .video {*/
/*    width: calc((100% - 250px) / 3);*/
/*}*/